<!-- views/account.ejs -->
<%- include('partials/header') %>

<main>
  <h1>Mi Cuenta</h1>
  <p><strong>Nombre:</strong> <%= user.name %></p>
  <p><strong>Correo Electr칩nico:</strong> <%= user.email %></p>
  <!-- Puedes a침adir m치s informaci칩n si lo deseas -->
</main>

<%- include('partials/footer') %>
