<%- include('partials/header') %>

<main>
  <h1>Bienvenido a TechGames Store</h1>
  <section>
    <h2>Encuentra consolas, videojuegos y noticias!</h2>
    
    <!-- Aquí puedes iterar sobre productos destacados -->
  </section>
</main>

<%- include('partials/footer') %>
